extends layout 
block content 
    h2= title
    //- script 
    //-     |console.log(bookinstance_list)
    if bookinstance_list.length 
        ul
            each bi in bookinstance_list 
                li 
                    a(href=bi.url) #{bi.book.title} : #{bi.imprint} -&nbsp;
                    if bi.status=='Available'
                        span.text-success #{bi.status}
                    else if bi.status=='Maintenance'
                        span.text-danger #{bi.status}
                    else
                        span.text-warning #{bi.status}
                    if bi.status!='Available'
                        span  (Due: #{bi.dueback_formatted} )
    else 
        p there are no book copies in this library.