extends layout
block content 
    h2 #{title}: #{book.title}
    p #[strong Author: ]
        a(href=book.author.url) #{book.author.name}
    p #[strong Summary:] #{book.summary}
    p #[strong ISBN:] #{book.isbn}
    p #[strong Genre: ]
        each val, index in book.genre
            a(href=val.url) #{val.name}
            if index < book.genre.length - 1
                |,&nbsp;
    hr
    if book_instances.length
        h5 Delete the following book instances, if you want to delete the book. 
        each bookinstance in book_instances
            hr
            if bookinstance.status == 'Available'
                p.text-success #{bookinstance.status}
            else if bookinstance.status =='Maintenance'
                p.text-danger #{bookinstance.status} 
            else
                p.text-warning #{bookinstance.status}
            p #[strong Imprint:] #{bookinstance.imprint}
            if bookinstance.status != 'Available'
                p #[strong Due Back]: #{bookinstance.dueback} 
            p #[strong Id: ]
            a(href=bookinstance.url) #{bookinstance._id}
    else
        form(method="post")
            div.form-group
                input#bookid.form-control(type="hidden", name="bookid", value="book._id")
            button.btn.btn-primary(type="submit") Delete